{% extends "base.html" %}
{% block nav-survey %} <li class="active"><a href="/survey/">Survey</a></li>{% endblock %}
{% block content %}
<div class="main">
    {% if form.errors %}
    <div class="alert-message error">
        <a class="close" href="#">×</a>
        <p><strong>Opos...we got a problem!</strong></p>
    </div>
    {% for error in form.non_field_errors %}
    <li class="error"> {{ error }} </li>
    {% endfor %}
    {% endif %}
    {% include "message.html" %}
    <div class="alert-message block-message info">
        <h3> {{survey.name}}</h3>
        <blockquote> {{survey.desc}}</blockquote>
        <span> {{survey.num_of_questions}} questions</span>
        <div>
            <a href="/survey/{{survey.pk}}/" class="btn secondary">Done Adding Question</a>
        </div>
    </div>
    <div class="box">
        <form action="/survey/{{survey.pk}}/question/add/" method="post">{% csrf_token%}
            <fieldset>
                <legend>Add New Question</legend>
                <input type="hidden" name="survey_id" value="{{survey.pk}}">
                <div class="clearfix">
                    <label for="question">Question</label>
                    <div class="input">
                        <input type="text" name="question" id="question" placeholder="Enter Poll question">
                        <span class="help-inline">required</span>
                    </div>
                </div>
                {% for i in 12|make_list %}
                <div id="option_{{i}}" class="clearfix">
                    <label for="option_{{i}}">Option {{i}}</label>
                    <div class="input">
                        <input type="text" name="option_{{i}}" class="option" placeholder="Option...">
                        <span class="help-inline">required</span>
                    </div>
                </div>
                {% endfor%}
                <label></label>
                <div class="input">
                    <a href="#" id="add_more_option">Add more options</a>
                </div>
                <div class="actions">
                    <input type="submit" value="Add Question" class="btn primary">
                </div>
            </fieldset>
        </form>
    </div>
    {% endblock %}
    {% block script %}
    <script type="text/javascript">
        $('#add_more_option').bind('click', function(e){
                var num= $('.option').length;
                var newNum = new Number(num + 1);
                var newOption=$('#option_' + num).clone().attr('id', 'option_' + newNum);
                newOption.attr('class', 'clearfix')
                newOption.html('<label for="option_' + newNum +'">Option ' + newNum + '</label><div class="input"><input type="text" name="option_' + newNum + '" class="option"></div>');
                $('#option_' + num).after(newOption);
                })
</script>
{% endblock %}
