{% extends "base.html" %}
{% block nav-home %} <li class="active"><a href="/home/">Home</a></li>{% endblock %}
{% block page_title %} {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="sidebar">
	<div class="section-title"> 
	Your Survey <a href="/survey/new/" class="btn primary">New Survey</a>
	</div>
	<div class="survey-list box">
		{% if user_surveys%}
			{% for survey in user_surveys %}
			<div class="survey">
				<a href="/survey/{{survey.pk}}/" class="survey-title"> {{ survey.name }} </a>
				<p><span> {{ survey.num_of_questions }} </span> questions</p>
			</div>
			{% endfor %}
		{% else %}
		<p>You haven't created any survey yet.</p>
		{% endif %}
		<a href="/user/{{user.username}}">See More...</a>
	</div>
</div>
{% endif %}
<div class="{% if user.is_authenticated %}content{%else%}main{%endif%}">
	{% include "message.html" %}
	<h4> Recent public survey</h4>
	<div class="survey-list section">
		{% for survey in public_surveys %}
		<div class="survey">
			<a href="/survey/{{survey.pk}}/" class="survey-title"> {{ survey.name }} </a>
			<p><span> {{ survey.num_of_questions }} </span> questions</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
