{% extends "base.html" %}
{% block nav-survey %} <li class="active"><a href="/survey/">Survey</a></li>{% endblock %}
{% block content %}
<div class="main">
	{% include "message.html" %}
	<div class="survey-summary">
		<div class="alert-message block-message info">
			<p class="title">{{ survey.name}}</p>
			<div>
				On <strong>{{survey.create_date}}</strong> by: <a href="/user/{{survey.user.username}}/"><strong>{{survey.user.username}}</strong></a>
				<p>
					{% if survey.expire_date %}
					{% if survey.is_expired %}
					Expired on: <span class="label error">
					{% else %}
					Expires on: <span class="label warning">
					{% endif %}
					{{survey.expire_date|date:"M d Y"}}</span>
					{% endif %}
				</p>
			</div>
		</div>
		<div class="survey-desc">
		{{ svey.desc }}
		</div>
	</div>
	<hr>
	<ul class="tabs" data-tabs="tabs">
		<li class="active">
			<a href="#questions">Questions</a>
		<li>
		<li class="">
			<a href="#results">Results</a>
		<li>
		<li class="">
			<a href="#comments">Comments</a>
		<li>
		{% if editable %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle"> Action </a>
			<ul class="dropdown-menu">
				<li><a href="/survey/{{survey.pk}}/edit/">Edit</a><li>
				<li><a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Delete</a></li>
			</ul>
		</li>
		{% endif %}
	</ul>
	<div id="survey-tab-content" class="tab-content">
		<div class="tab-pane active" id="questions">
			<div class="question">
				<form action="/survey/{{survey.pk}}/vote/" method="post">
				{% csrf_token %}
				{% for poll in survey.polls %}
				<div class="box">
					<div class="title">
					<span>{{ poll.question }}
					<strong class="label notice" style="margin-left: 10px"> {{poll.total_votes}} votes </strong>
					</span>
					</div>
					<ul>
						{% for choice in poll.choices %}
						<input type="radio" name="poll_{{poll.pk}}" value="{{choice.pk}}" class="choice"> {{ choice.choice }}</input><br>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
				<div class="alert-message block-message warning">
					{% if user.is_authenticated %}
						{% if survey.is_expired %}
						<a type="submit" class="btn disabled">This survey is expired</a>
						{% else %}
						<input type="submit" value="Vote" class="btn primary">
						{% endif %}
					{% else %}
					<a href="/accounts/signin/?next=/survey/{{survey.pk}}/" class="btn secondary"> Sign In to Vote</a>
					{% endif %}
				</div>
				</form>
			</div>
		</div>
		<div clas="tab-pane" id="results">
				{%for poll in survey.polls %}
				<div class="box">
					<div class="title">
						<span >{{ poll.question }}
						<strong class="label notice" style="margin-left: 10px"> {{poll.total_votes}} Votes</strong>
						</span>
					</div>
				<ul>
					{% for choice in poll.choices %}
					<div class="choice">
						<strong> {{choice.votes}}</strong>
						<span >{{choice.choice}}</span>
						<div class="chart orange stripes">
							<span class="votechart" style="width:{{choice.percentage}}%"></span>
						</div>
					</div>
					{% endfor %}
				</ul>
				</div>
				{% endfor %}
		</div>
		<div clas="tab-pane" id="comments">
			{% for c in survey.comments %}
			<blockquote>
				<p>{{c.comment}}</p>
				<br>
				<span><a href="/user/{{c.user.username}}/"> {{c.user.username}}</a></span>
				<span> On {{c.date}}</span>
			</blockquote>
			{% endfor %}
			<form action="/survey/{{survey.pk}}/comment/" method="post">
			{% csrf_token %}
				<fieldset>
					<legend style="padding-left: 0"> Add a comment</legend>
					<input type="hidden" name="survey_id" value="{{survey.pk}}">
					<div class="clearfix">
						<div class="input" style="margin-left:0">
							<textarea  class="xxlarge" row="3" name="comment"></textarea>
						</div>
					</div>
					<input type="submit" class="btn primary" value="Comment">
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block after-container %}
<div id="modal-from-dom" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Confirm delete?</h3>
    </div>
    <div class="modal-body">
        <p> Delete survey <strong>{{survey.name}}</strong></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn secondary cancel">Cancel</a>
        <a href="/survey/{{survey.pk}}/delete/" class="btn danger">Delete</a>
    </div>
</div>
{% endblock %}





