{% extends "base.html" %}
{% block nav-survey %} <li class="active"><a href="/survey/">Survey</a></li>{% endblock %}
{% block content %}
<div class="main">
	{% include "message.html" %}
	<div class="survey-summary">
		<h3>{{ survey.name}}</h3>
		<div class="survey-details">
			<div>
				<img src="{{survey.user.profile.gravatar}}">
				<a href="/user/{{survey.user.username}}/"><strong>{{survey.user.username}}</strong></a>
				<p>Created On :{{survey.create_date}}</p>
					{% if survey.expire_date %}
					<p> Expires on: {{survey.expire_date|date:"M D Y"}}</p>
					{% endif %}
			</div>
		</div>
		<div class="survey-desc">
		{{ svey.desc }}
		</div>
	</div>
	<hr>
	<ul class="tabs" data-tabs="tabs">
		<li class="active">
			<a href="#questions">Questions</a>
		<li>
		<li class="">
			<a href="#results">Results</a>
		<li>
		<li class="">
			<a href="#comments">Comments</a>
		<li>
		{% if editable %}
		<li class="dropdown" data-dropdown="dropdown">
			<a href="#" class="dropdown-toggle"> Action </a>
			<ul class="dropdown-menu">
				<li><a href="/survey/{{survey.pk}}/edit/">Edit</a><li>
				<li><a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Delete</a></li>
			</ul>
		</li>
		{% endif %}
	</ul>
	<div id="survey-tab-content" class="tab-content">
		<div class="tab-pane active" id="questions">
			<div class="question">
				<form action="/survey/{{survey.pk}}/vote/" method="post">
				{% csrf_token %}
				{% for poll in survey.polls %}
				<h3> {{ poll.question }}</h3>
				<ul>
					{% for choice in poll.choices %}
					<input type="radio" name="{{poll.pk}}" value="{{choice.pk}}" class="choice"> {{ choice.choice }}</input><br>
					{% endfor %}
				</ul>
				{% endfor %}
				<input type="submit" value="Vote" class="btn primary">
				</form>
			</div>
		</div>
		<div clas="tab-pane" id="results">
			<p> Current results:</p>
			<div class="question">
				{%for poll in survey.polls %}
				<h3> {{ poll.question }}</h3>
				<ul>
					{% for choice in poll.choices %}
					<div>
						<h4>{{choice.choice}}</h4>
						<div class="vote-count">
							<span></span><strong> {{choice.votes}}</strong>
						</div>
					</div>
					{% endfor %}
				</ul>
				{% endfor %}
			</div>
		</div>
		<div clas="tab-pane" id="comments">
			{% for c in survey.comments %}
			<div class="comment">
				<span><img src="{{c.user.profile.gravatar}}"></img><a href="/user/{{c.user.username}}/"> {{c.user.username}}</a></span>
				<span> On {{c.date}}</span>
				<p>{{c.comment}}</p>
				<br>
			</div>
			{% endfor %}
			<form action="/survey/{{survey.pk}}/comment/" method="post">
			{% csrf_token %}
				<fieldset>
					<legend style="padding-left: 0"> Add a comment</legend>
					<input type="hidden" name="survey_id" value="{{survey.pk}}">
					<div class="clearfix">
						<div class="input" style="margin-left:0">
							<textarea  class="xxlarge" row="3" name="comment"></textarea>
						</div>
					</div>
					<input type="submit" class="btn primary" value="Comment">
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block after-container %}
<div id="modal-from-dom" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Confirm delete?</h3>
    </div>
    <div class="modal-body">
        <p> Delete survey <strong>{{survey.name}}</strong></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn secondary cancel">Cancel</a>
        <a href="/survey/{{survey.pk}}/delete/" class="btn danger">Delete</a>
    </div>
</div>
{% endblock %}





