{% extends "base.html" %}
{% block nav-survey %} <li class="active"><a href="/survey/">Survey</a></li>{% endblock %}
{% block content %}
<div class="main">
	{% include "message.html" %}
	<div class="survey-summary">
		<h3>{{ survey.name}}</h3>
		<div class="survey-desc">
		{{ sruvey.desc }}
		</div>
		<div class="survey-details">
		<div>
			<span>Created On <strong>{{survey.create_date}}</strong></span> by: <img src="{{survey.user.gravatar}}">
			<a href="/account/{{survey.user.username}}">{{survey.user.username}}</a>
		</div>
		<div class="voters">
			<a href="/surve/{{survey.pk}}/voters/">10 people voted</a>
		</div>
		<div>
			{% if editable %}
				<a href="/survey/edit/{{survey.pk}}/" class="btn primary">Edit</a>
				<a href="/survey/delete/{{survey.pk}}/" class="btn danger">Delete</a>
			{% endif %}
		</div>
	</div>
	<hr>
	<ul class="tabs" data-tabs="tabs">
		<li class="active">
			<a href="#questions">Questions</a>
		<li>
		<li class="">
			<a href="#records">Records</a>
		<li>
		<li class="">
			<a href="#comments">Comments</a>
		<li>
	</ul>
	<div id="survey-tab-content" class="tab-content">
		<div class="tab-pane active" id="questions">
			<div class="question">
				<form action="/survey/{{survey.pk}}/vote/" method="post">
				{% csrf_token %}
				{% for poll in survey.polls %}
				<h3> {{ poll.question }}</h3>
				<ul>
					{% for choice in poll.choices %}
					<input type="radio" name="{{poll.pk}}" value="{{choice.pk}}" class="choice"> {{ choice.choice }}</input><br>
					{% endfor %}
				</ul>
				{% endfor %}
				<input type="submit" value="Vote" class="btn primary">
				</form>
			</div>
		</div>
		<div clas="tab-pane" id="records">
			<p> Records of this survey </p>
		</div>
		<div clas="tab-pane" id="comments">
			{% for c in survey.comments %}
			<div class="comment">
				<span><img src="{{c.user.profile.gravatar}}"></img><a href="/user/{{c.user.pk}}/"> {{c.user.username}}</a></span>
				<span> On {{c.date}}</span>
				<p>{{c.comment}}</p>
				<br>
			</div>
			{% endfor %}
			<form action="/survey/{{survey.pk}}/comment/" method="post">
			{% csrf_token %}
				<input type="hidden" name="survey_id" value="{{survey.pk}}">
				<textarea rows="5" cols="320" name="comment"></textarea><br>
				<input type="submit" class="btn primary" value="Comment">
			</form>
		</div>
	</div>
</div>
{% endblock %}
