{% extends "base.html" %}
{% block content %} 
<div class="content">
    {% if message %}
    <div class="alert-message success"> {{message}} </div>
    {% endif %}
    <form action="/accounts/profile/" method="post"> {% csrf_token %}
        <div style="margin:0; padding:0">
            <p class="label notice section">Basic:</p>
            <div class="clearfix">
                <label>Username</label>
                <div class="input">
                    <input name="username" type="text" size="15" value="{{form.username.value}}" readonly>
                </div>
            </div>
            <div class="clearfix">
                <label>Email</label>
                <div class="input">
                    <input name="email" type="text" size="15" value="{{form.email.value}}">
                </div>
            </div>

            <div class="clearfix">
                <label>First Name</label>
                <div class="input">
                    <input name="first_name" type="text" size="15" value="{{form.first_name.value}}">
                </div>
            </div>

            <div class="clearfix">
                <label>Last Name</label>
                <div class="input">
                    <input name="last_name" type="text" size="15" value="{{form.last_name.value}}">
                </div>
            </div>
            <p class="label notice section">Social:</p>
            <div class="clearfix">
                <label>Web Site:</label>
                <div class="input">
                    <input name="website" type="text" size="10" value="{{ form.website.value }}">
                </div>
            </div>
            <div class="clearfix">
                <label>Twitter</label>
                <div class="input">
                    <input name="twitter" type="text" size="10" value="{{ form.twitter.value }}">
                    <a href="#">Connect</a>
                </div>
            </div>
            <div class="clearfix">
                <label>Github</label>
                <div class="input">
                    <input name="github" type="text" size="10" value="{{ form.github.value }}">
                    <a href="#">Connect</a>
                </div>
            </div>
            <div class="actions">
                <input class="btn btn-m primary" type="submit" value="Update" style="margin-left: 15px">
            </div>
        </div>
    </form>
</div>
{% endblock %}