html, body {
  background-color: #fff;
}

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.container-fluid {
	position: relative;
	min-width: 940px;
	padding-left: 20px;
	padding-right: 20px;
	zoom: 1;
}

.container-fluid > footer p {
  text-align: center; /* center align it with the container */
}

.dropdown-menu form input {
  max-width: 150px;
  margin: 5px 10px 5px 10px;
}

.content .title h3 {
  margin: 20px 0px 10px 20px;
}

form input {
  margin: 5px 10px 5px 10px;
}

.error {
  color: #B94A48;
}

.field-set {
  vertical-align: right;
  display: block;
}

li .error {
  margin: 0px 10px 40px 10px;
}

.table {
  margin: 10px 20px 10px 20px;
}

.box {
  position: relative;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset, 0 0 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset, 0 0 50px rgba(0, 0, 0, .1);
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset, 0 0 10px rgba(0, 0, 0, .1);
}

.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  bottom: 12px;
  content: ' ';
  left: 12px;
  right: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
  z-index: -1;
}

.box:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

.useravatar img{
  float: right;
  border: 1px solid #222 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 55px;
  z-index: 999;
}

.dropdown li a {
  font-style: bold;
}

.container-fluid > .content {
	margin-top: 20px;
 	margin-left: 250px;
}

.container-fluid > .sidebar {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 220px;
}

.section-title {
	background-color: #444;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px 5px 10px;
	color: #fe57a1;
	font-size: 16px;
	font-style: bold;
}

.sidebar .survey-list {
	padding: 5px 10px 5px 10px;
}

.main .survey-list {
	padding: 5px 10px 5px 10px;
}
.survey {
	
}









