{% extends "base.html" %}
{% block nav-about %} <li class="active"><a href="/about/">About</a></li>{% endblock %}
{% block page_title %} <h3> About </h3> {% endblock %}
{% block content %}
<div class="main">
    <h1>User help</h1>

    <ul>
        <li><h3>about this website</h3>

        <p>  This web site is created as the final project for Open Source Course at <a href="http://www.nyu.edu">NYU</a>.</p>

        <p>  This web site can be used to create simple surveys and let people vote on survey. The basic functionality is complete, however, some features planned originally (such as pictures in a survey and some social features) is not completed yet.</p></li>
        <li><h3>How to use this site:</h3>

        <ul>
            <li><h4>sign up:</h4>

            <p>  Before using this web site, you should first sign up for an account. <br/>
            <img src="https://img.skitch.com/20111219-c5ed2msfh545waw8td6bfu3eds.png" alt="signup" /></p>

            <p>  Fill in the necessary info: <br/>
            <img src="https://img.skitch.com/20111219-jp5p6j7a5whypdapex5cppi6ic.png" alt="signup" /></p>

            <p>  After sign up, you will be automatically login:</p>

            <p>  You can update your profile with more info about you: <br/>
            <img src="https://img.skitch.com/20111219-jsna5rf3bhnaqy95et5n8i5snf.png" alt="profile" /></p></li>
            <li><h4>sign in</h4>

            <p>  Fill in your sign in credentials: <br/>
            <img src="https://img.skitch.com/20111219-cdr47c8wpkfwfa1uxsxw5kfafr.png" alt="signin" /></p></li>
            <li><h4>create new survey:</h4>

            <p>  After you signed in, you can create new survey by: <br/>
            <img src="https://img.skitch.com/20111219-x7tpc9e6825b4u6fsa99nbtee1.png" alt="new survey" /></p>

            <p>  Or:<br/>
            <img src="https://img.skitch.com/20111219-1khb2ihpd8ip8kpwwj2e6fjj95.png" alt="new survey" /></p>

            <p>  Fill in infos about the survey: <br/>
            <img src="https://img.skitch.com/20111219-p66i952749jq3exiri1yy86c5j.png" alt="survey" /></p>

            <p>  Add questions to the survey:
            <img src="https://img.skitch.com/20111219-n3aitr3yfy3pu9m3pht61r5t9b.png" alt="add quest" /></p>

            <p>  A new survey created: <br/>
            <img src="https://img.skitch.com/20111219-p15sixefwrjb6e8g5a4fa1fy3r.png" alt="new survey" /></p></li>
            <li><h4>Edit an existing survey:</h4>

            <p>  On the survey page, click Action tab:    <br/>
            <img src="https://img.skitch.com/20111219-br5stqs4kgxrc6dm99c17ds2yp.png" alt="edit" /></p>

            <p>  Edit basic info: <br/>
            <img src="https://img.skitch.com/20111219-e9yy8ehfmet17h24f4w2a28f8p.png" alt="edit" /></p>

            <p>  Edit Questions: <br/>
            <img src="https://img.skitch.com/20111219-g1pdbyf4rrxhwdngehrxar1hsp.png" alt="edit" /></p>

            <p>  <img src="https://img.skitch.com/20111219-mkbgt3msctjt9esf1g3yywfn9x.png" alt="edit" /></p>

            <p>  More edit options: <br/>
            <img src="http://dl.dropbox.com/u/7241652/Markmarch%20Survey-19.png" alt="edit" /></p></li>
            <li><h4>Vote on survey:</h4>

            <p>  Select a survey, and make your choice:</p>

            <p>  <img src="https://img.skitch.com/20111219-8i1i1jy5jqscrq3tu17cth5ekt.png" alt="vote" /></p>

            <p>  See a survey&rsquo;s voting results: <br/>
            <img src="https://img.skitch.com/20111219-88jynt3jqgrb7xqigg5x5p9d61.png" alt="result" /></p></li>
            <li><h4>Comment on a survey:</h4>

            <p>  You can comment on survey by clicking the comments tab:</p>

            <p>  <img src="https://img.skitch.com/20111219-mi3hjp9s72qbgayf426yim249b.png" alt="comment" /></p></li>
            <li><h4>Check out other users:</h4>

            <p>  <img src="http://dl.dropbox.com/u/7241652/skitchg2Mbsh.png" alt="users" /></p></li>
            <li><h3>User page:</h3>

            <p>  <img src="http://dl.dropbox.com/u/7241652/Markmarch%20Survey-1.png" alt="user" /></p></li>
        </ul>
        </li>
    </ul>

</div>
{% endblock %}
