<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Markmarch Survey</title>
    <meta name="description" content="A survey applicaiton developed for open source tools class at NYU" />
    <meta name="keywords" content="django, open, source, tools, python, survey, markmarch, NYU" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <!-- Navagation bar -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Markmarch Survey</a>
          {% block nav %}
          <ul class="nav">
            {% block nav-home %}<li><a href="/">Home</a></li>{% endblock %}
            {% block nav-survey %}<li><a href="/survey/">Survey</a></li>{% endblock %}
            {% block nav-about %}<li><a href="/about/">About</a></li>{% endblock %}
          </ul>
          <form class="pull-left" action="/search/">
            <input type="text" placeholder="Search">
          </form>
          {% if user.is_authenticated %}
          <div class="useravatar">
            <img src="{{ user.profile.gravatar }}"/>
          </div>
          {% endif %}
          <ul class="nav secondary-nav">
            {% if user.is_authenticated %}
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle"><strong>{{ user.username }}</strong></a>
              <ul class="dropdown-menu">
                <li><a href="/accounts/profile/">Account</a></li>
                <li><a href="/accounts/signout/">Sign out</a></li>
              </ul>
            </li>
            {% else %}
            <li class="dropdown" data-dropdown="dropdown">
              <a class="dropdown-toggle"> Sign In </a>
              <ul class="dropdown-menu">
                <li>
                  <form action="/accounts/signin/" method="post">{% csrf_token %}
                    <input name="username" type="text" placeholder="Username">
                    <input name="password" type="password" placeholder="Password">
                    <button style="margin-left: 10px" class="btn primary"> Sign In</button>
                  </form>
                </li>
              </ul>
            </li>
            <li><a href="/accounts/signup/">Sign Up</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </div><!--container-->
      </div><!--fill-->
    </div><!--topbar-->

    <div class="container">
      {% block page_title %} {% endblock %}
      {% block content %}{% endblock %}
      <footer>
        <p>&copy; Markmarch NYU 2011</p>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-twipsy.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript">
      $('.dropdown input').bind('click', function (e) {
        e.stopPropagation()
      })
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
